extends layout
block content
  h1 #{widget.name}
  include widget
  form(method='POST'
       action="/widgets/#{widget.sn}")
    input(type='hidden'
          name="_method"
          value='delete')
    input(type='submit'
          value="Delete widget")